
main{
	max-width: 1700px;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

#B {
	width: 225px;
}

#divenlaceimagen{
	display: flex;
	align-items: center;
}

#enlaceimagen{

	margin: 0px;
	padding: 0px;
	max-width: 250px;
	max-height: 90px;
}

@font-face {
    font-family: 'Vinque Rg';
    src: url('fonts/VinqueRg-Regular.woff2') format('woff2'),
        url('fonts/VinqueRg-Regular.woff') format('woff'),
        url('fonts/VinqueRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
	margin: 0px;
	background-color: #491307;
}

i{
	font-size: 3rem;
	padding-right: 1.5rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer>i {


	font-size: 2.5rem;
	padding: 1rem;
	color: #a99c7f;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#media{
	display: inline;
	padding-top: 1.5rem;
}

label {
	font-weight: bolder;
	font-size: 1.1em;
	color: #b79f6c;
	font-style: italic;
	font-family: 'Vinque Rg';
	font-weight: normal;
	cursor: url('img/mouse_cursor.png'), auto;
}

a{
	font-family: 'Vinque Rg';
	text-decoration: none;
	color: #b79f6c;
	font-weight: bolder;
	font-weight: normal;

}

input {
	margin-top: 0.2rem;
	background-color: #491307;
	color: #B79F6C;
	font-family: 'Vinque Rg';
	font-weight: normal;
}

#divform{

	padding: 0.5rem;
	border: 7px double #B79F6C;
	border-radius: 20px;
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
}

#enlacestexto a{
	padding: 2rem;
	margin-bottom: 1rem;
	font-size: 2.5rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



#menu{

	display: flex;
	width: 100%;
	justify-content: space-around;
	background-color: #6e1d0b;
	border-bottom: #B79F6C solid 5px;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 50px 50px 50px 50px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 50px 50px 50px 50px rgba(0,0,0,0);
}

.form1{
	display: flex;
	justify-content: space-between;
}

.form2{
	display: inline-block;
}

.form2 label{
	margin-right: 3rem;
}

#botonfrom{
	width: 100%;
}

#botonfrom button{
	width: 100%;
}

button{
	margin-top: 0.2rem;
	font-family: 'Vinque Rg';
	background-color: #6e1d0b;
	color: #b79f6c;
	border: solid #B79F6C 2px;
	font-weight: normal;
	font-size: 1.05em;
	border-radius: 5px;
	cursor: url('img/mouse_cursor3.png'), auto;
}

#Banner1 {

	display: flex;
	background-image: url("img/Bannersaga2.jpg");
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 66%;
	margin-top: 0px;
	border-bottom: solid #B79F6C 2px;
	height: 20vh;


}

#Banner2 {

	display: flex;
	background-image: url("img/Bannersaga9.jpg");
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 85%;
	margin-top: 0px;
	border-bottom: solid #B79F6C 2px;
	height: 17vh;


}
#Banner3 {

	display: flex;
	background-image: url("img/Bannersaga16.png");
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 60%;
	margin-top: 0px;
	border-bottom: solid #B79F6C 2px;
	height: 17vh;


}

#Banner4 {

	display: flex;
	background-image: url("img/Bannersaga15.png");
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 10%;
	margin-top: 0px;
	border-bottom: solid #B79F6C 2px;
	height: 17vh;


}

#Titulopagina1{

	text-align:  center;
	font-size: 6rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: normal;
	font-family: 'Vinque Rg';
	color: #B79F6C;
}

h2 {
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-size: 3rem;
	font-weight: normal;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
h3{

	font-family: 'Vinque Rg';
	color: #c5b289;
	font-size: 1.7rem;
	font-weight: normal;
	text-align: left;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

p,dl {
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-weight: normal;
	font-size: 1.2rem;
	
}
dt{
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-weight: normal;
	padding-top: 0.2rem;
	font-size: 1.3rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.flotantes {

	float: right;
	max-width: 30%;
	border: 4px double rgba(183,159,108,0.36);
	border-radius: 10px;
	margin-left: 0.8rem;
	margin-top: 0.8rem;
	padding: 0.5rem;
	background-color: #3c0e04;
}

.flotantes img{
	width: 100%;
}

footer {

	display: flex;
	background-image: url("img/Bannersaga17.png");
	align-items: flex-start;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 30%;
	margin-top: 0px;
	border-top: solid #B79F6C 2px;
	height: 20vh;
	margin-top: 5rem;


}

li {
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-weight: normal;
	font-size: 1.2rem;
}

ul li{
	padding-top: 0.2rem;
}

.linegrita {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 1.3em;
	margin-right: 0.2rem;
	
}

#wrapper{

	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}

.imgtxt{

	width: 16%;
	height: 20%;
	min-width: 250px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.imgtxt figure{
	padding: 0px;
	margin: 0px;
}

.imgtxt figure>img{

	width: 100%;
	height: 18vh;
	object-fit: cover;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}

.imgtxt figcaption{

	padding-bottom: 0px;
	width: 100%;
	margin-top: 0px;
	background-color: black;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-weight: normal;
	font-size: 1.2rem;

}



#columna {
	position: absolute;
	z-index: -2;
	height: 120%;
	width: 8%;
	left: 0px;
	
}

#informacionfigure{

	width: 1300px;
	border: 4px double rgba(183,159,108,0.36);
	border-radius: 10px;
	padding: 0.5rem;
	background-color: #3c0e04;


}
#informacionfigure img{


	min-width: 100%;
	max-width: 101%;
}
#informacioncaption {

	width: 100%
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-weight: normal;
	font-size: 1.2rem;

}

#sectioninfo{
	display: flex;
	align-items: flex-start;
}

#margin0 {
	margin-top: 0px;
}

 #informacioncaption{

	background-color: #3c0e04;
	

}

head,body,footer{
	cursor: url('img/mouse_cursor.png'), auto;
}

details>summary {
  padding: 4px;
  width: 200px;
  cursor: url('img/mouse_cursor3.png'), auto;

}
::marker{
	color: #B79F6C;
	font-family: 'Vinque Rg';

}


a{
	cursor: url('img/mouse_cursor3.png'), auto;
}

summary>h3{
	display: inline;
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-size: 1.6rem;
	font-weight: normal;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.flexdetails{
	display: flex;
	align-items: center;
}
.flexdetails>figure{

	width: 120%;
	border: 4px double rgba(183,159,108,0.36);
	border-radius: 10px;
	padding: 0.5rem;
	margin: 2rem;
	background-color: #3c0e04;
}

.flexdetails>figure>img{
	width: 100%;
}
.flexdetails>figure>figcaption{

	width: 100%
	width: 100%;
	margin-top: 0px;
	margin-bottom: 4px;
	text-align: center;
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-weight: normal;
	font-size: 1.2rem;
}

#mediapag {
	width: ;
}

#topbanner{
	height: 10vh;
	width: 80%;
	margin: auto;
	display: block;
}



td,th{

	text-align: center;
	border: 2px solid #B79F6C;
	padding: 1rem;
	font-size: 1.2em;
}

tr th{
	font-family: 'Vinque Rg';
	background-color: black;
	color: #B79F6C;
}

tr td{
	border: 2px solid #B79F6C;
	font-family: 'Vinque Rg';
	padding: 0px;
	margin: 0px;
	font-size: 1.4em;
	text-shadow: -1px -1px 0 #B79F6C, 1px -1px 0 #B79F6C, -1px 1px 0 #B79F6C, 1px 1px 0 #B79F6C;

}

tr:nth-child(2n){
	background-color: #6e1d0b;

}

tr:nth-child(2n+1){
}

table{
	margin: auto;
	margin-top: 3rem;
	display: block;
	border-collapse: collapse;
	overflow-x: auto;
	overflow-y: hidden;
	
}



#tablauno td>img{
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;


}

#contenedortabla{
	display: flex;

}

#tabla_dioses td{
	padding: 1rem;
}

#tablauno td,th{
	width: 16.66%;
}

.ultimo{
	padding-top: 0px;
	margin-top: 0px;
}