
#pagina{
	max-width: 1600px;
	margin: auto;
}

#B {
	width: 225px;
}

#divenlaceimagen{
	display: flex;
	align-items: center;
}

#enlaceimagen{

	margin: 0px;
	padding: 0px;
	max-width: 250px;
	max-height: 90px;
}

@font-face {
    font-family: 'Vinque Rg';
    src: url('fonts/VinqueRg-Regular.woff2') format('woff2'),
        url('fonts/VinqueRg-Regular.woff') format('woff'),
        url('fonts/VinqueRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
	margin: 0px;
	background-color: #491307;
}



#footer i {


	font-size: 2.5rem;
	padding: 1rem;
	color: #a99c7f;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#media{
	display: inline;
}

label {
	font-weight: bolder;
	font-size: 1.1em;
	color: #b79f6c;
	font-style: italic;
	font-family: 'Vinque Rg';
	font-weight: normal;
}

a{
	font-family: 'Vinque Rg';
	text-decoration: none;
	color: #b79f6c;
	font-weight: bolder;
	font-size: 2.5rem;
	font-weight: normal;

}

input {
	margin-top: 0.2rem;
	background-color: #491307;
	color: #B79F6C;
	font-family: 'Vinque Rg';
	font-weight: normal;
}

#divform{

	padding: 0.5rem;
	border: 7px double #B79F6C;
	border-radius: 20px;
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
}

#enlacestexto a{
	padding: 2rem;
	margin-bottom: 1rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



#menu{

	display: flex;
	width: 100%;
	justify-content: space-around;
	background-color: #6e1d0b;
	border-bottom: #B79F6C solid 5px;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 50px 50px 50px 50px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 50px 50px 50px 50px rgba(0,0,0,0);
}

.form1{
	display: flex;
	justify-content: space-between;
}

.form2{
	display: inline-block;
}

.form2 label{
	margin-right: 3rem;
}

#botonfrom{
	width: 100%;
}

#botonfrom button{
	width: 100%;
}

button{
	margin-top: 0.2rem;
	font-family: 'Vinque Rg';
	background-color: #6e1d0b;
	color: #b79f6c;
	border: solid #B79F6C 2px;
	font-weight: normal;
	font-size: 1.05em;
	border-radius: 5px;	
}

#Banner1 {

	display: flex;
	background-image: url("img/Bannersaga2.jpg");
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 66%;
	margin-top: 0px;
	border-bottom: solid #B79F6C 2px;
	height: 20vh;


}

#Titulopagina1{

	text-align:  center;
	font-size: 8rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: normal;
	font-family: 'Vinque Rg';
	color: #B79F6C;
}

h2 {
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-size: 3rem;
	font-weight: normal;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

p {
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-weight: normal;
	font-size: 1.2rem;
	text-align: center;
}

.flotantes {

	float: right;
	max-width: 30%;
	border: 4px double rgba(183,159,108,0.36);
	border-radius: 10px;
	margin-left: 0.8rem;
	margin-top: 0.8rem;
}

#footer {

	display: flex;
	background-image: url("img/Bannersaga17.png");
	align-items: flex-start;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 30%;
	margin-top: 0px;
	border-top: solid #B79F6C 2px;
	height: 20vh;
	margin-top: 5rem;


}

li {
	font-family: 'Vinque Rg';
	color: #B79F6C;
	font-weight: normal;
	font-size: 1.2rem;
}

#linegrita {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 1.1em;
	
}

#wrapper{

	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.imgtxt{

	width: 16%;
	height: 12rem;
	min-width: 250px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.imgtxt img{

	width: 100%;
	height: 18vh;
	object-fit: cover;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}

.imgtxt p{

	padding-bottom: 0px;
	width: 100%;
	margin-top: 0px;
	background-color: black;
	margin-bottom: 0px;

}